<div class="container">
  <div class="columns is-mobile">
    <div class="pokemon column">
      <div class="card has-text-weight-bold has-text-white">
        <div class="card-image">
          <div class="card-image-container">
            <img [src]=pokemon.sprites.front_default/>
          </div>
        </div>
        <div class="card-content has-text-centered">
          <div class="main">
            <div class="title has-text-white">{{ pokemon.name | titlecase }}</div>
            <div class="hp">hp {{ pokemon.base_experience }}</div>
          </div>
          <div class="stats columns">
            <div class="column has-text-centered"><span class="tag">Type </span><p>{{ pokemon.types[0].type.name }}</p></div>
            <div class="column has-text-centered center-column"><span class="tag">Weight </span><p>{{ pokemon.weight }}lbs</p></div>
            <div class="column has-text-centered"><span class="tag">Height </span><p>{{ pokemon.height }}m</p></div>
          </div>
        </div>
      </div>
      </div>
      <div (click)="prev()" class="swiper-button-prev"></div>
      <div (click)="next()"class="swiper-button-next"></div>
  </div>
</div>