<div class="animated slideInLeft" id="square">
  <div class="animated slideInRight" id="topSquare">
    <div class="animated slideInLeft" id="screen">
      <swiper [config]="config">
        <app-pokemon [(id)]=id></app-pokemon>
      </swiper>
    </div>
      <h3 class="animated slideInRight" id="gameboy">Gameboy</h3>
      <h3 class="animated slideInRight" id="color">
        <span id="C">C</span><span id="O">o</span><span id="L">l</span>
        <span id="O-2">o</span><span id="R">r</span>
      </h3>
      <div id="power"></div>
  </div>
</div>

<router-outlet></router-outlet>
